@import "../base/variables";
@import "../utilities/mixins";



@media screen and (max-width: 800px){
    .text-h1 {
        font-size: 2.8rem;
        text-align: center;
      }     
      .text-h2 {
        font-size: 2.4rem;
      }     
      .text-h3 {
        font-size: 1.2rem;
      }    
      .text-p {
        font-size: 1rem;
      }
    .articulos {
        &:hover {
            transform: none;
        }
    }
    .img1 {
        border-radius: 20px 20px 0 0;
    }
    .img3 {
        grid-area: img3;
        border-radius: 0;
    }
    .pasteleria {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-areas:
            "tituloP tituloP"
            "card1 card2"
            "card3 card4"
            "card5 card6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        column-gap: 60px;
        row-gap: 40px;
        justify-items:center;
    }
    .card1 {
        grid-area: card1;
        @include lado(end)
    }
    .card2 {
        grid-area: card2;
        @include lado(start)
    }
    .card3 {
        grid-area: card3;
        @include lado(end)
    }
    .card4 {
        grid-area: card4;
        @include lado(start)
    }
    .card5 {
        grid-area: card5;
        @include lado(end)
    }
    .card6 {
        grid-area: card6;
        @include lado(start)
    }
    .cardPanaderia {
        width: 75%;
        &:hover {
            transform: none;
            opacity: 1;
        }
        button {
            &:hover {
                transform: none;
            }
        }
    }
    .contacto {
        .formulario {
            width: 75%;
        }
        img {
            &:hover {
                transform: none;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .text-h1 {
        font-size: 2.4rem;
        text-align: center;
    }     
    .text-h2 {
        font-size: 2rem;
        text-align: center;
    }     
    .text-h3 {
        font-size: 1.5rem;
        text-align: center;
    }    
    .text-p {
        font-size: 1rem;

    }
    .sectionPrincipal {
        display: grid;
        grid-template-areas:
        "textH2"
        "img1"
        "articulo1"
        "img2"
        "articulo2"
        "img3"
        "articulo3" ;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
    .articulos {
        padding: 30px 0;
    }
    iframe {
        padding-top: 30px;
        width: auto;
        height: 280px;
    }
    .pasteleria {
        display: grid;
        grid-template-areas:
            "tituloP"
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
        row-gap: 40px;
        justify-items:center;
    }
    .card1 {
        grid-area: card1;
        @include lado(center)
    }
    .card2 {
        grid-area: card2;
        @include lado(center)
    }
    .card3 {
        grid-area: card3;
        @include lado(center)
    }
    .card4 {
        grid-area: card4;
        @include lado(center)
    }
    .card5 {
        grid-area: card5;
        @include lado(center)
    }
    .card6 {
        grid-area: card6;
        @include lado(center)
    }
    .cardPanaderia {
        width: 60%;
    }
    .contacto {
        .formulario {
            width: 90%;
        }
    }
}
